.game tr td div {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    // border: 1px solid black;
    text-align: center;
    margin: auto;
    padding: 2px;
}

.game tr td {
    border-color: black;
}

.value_1 {
    background-color: #cecabe;
}
.value_2 {
    background-color: #8b7945;
}
.value_3 {
    background-color: #ac8b76;
}
.value_4 {
    background-color: #ac9e76;
}
.value_5 {
    background-color: #ac9076;
}
.value_5 {
    background-color: #ac8576;
}