html {
    touch-action: none;
}

html,
body {
    left: 0%;
    top: 0%;
    right: 100%;
    bottom: 100%;
}

body {
    width: calc(100% - 5px);
    height: calc(100% - 5px);
    outline: 0;
    margin: 5px;
    font-family: 'BIZ UDPMincho', serif;
}

button {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    color: #000;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.5em;
    margin-right: 5px;
}

.container {
    margin: 0 auto;
}

.lost_banner {
    position: absolute;
    top: 140px;
    left: 140px;
    width: 240px;
    text-align: center;
    background-color: rgb(173, 173, 173);
    font-size: 50px;
    opacity: 0.7;
    z-index: 1;
}

.game table {
    border-radius: 5px;
    border-collapse: collapse;
    margin-bottom: 5px;
    color: white;
    font-size: 7em;
}

.game tr td {
    border: 1px solid rgb(196, 196, 196);
    padding: 0;
    margin: 0;
}

.game tr td div {
    width: 23vmin;
    height: 23vmin;
    line-height: 23vmin;
    border-radius: 15px;
    text-align: center;
    margin: 2px;
}

.value_1 {
    background-color: #14406b;
}

.value_2 {
    background-color: #5777cf;
}

.value_3 {
    background-color: #3c99c4;
}

.value_4 {
    background-color: #257a7a;
}

.value_5 {
    background-color: #4e2aa1;
}

.value_5 {
    background-color: #8d418d;
}

.value_6 {
    background-color: #bd5da0;
}

.value_7 {
    background-color: #e9088b;
}

.value_7 {
    background-color: #a70b0b;
}

// 256
.value_8 {
    background-color: #320b5f;
}

.value_9 {
    background-color: #0b5f5b;
}

.value_10 {
    background-color: #0b5f16;
}

.value_11 {
    background-color: #3f5f0b;
}

.value_12 {
    background-color: #5f3d0b;
}

.value_13 {
    background-color: #5f230b;
}

.value_14 {
    background-color: #5f0b0b;
}

.value_15 {
    background-color: #5f0b0b;
}