html {
    touch-action: none;
    background-color: #4d4d4d;
    left: 0%;
    top: 0%;
    right: 100%;
    bottom: 100%;
}

body {
    margin: 0px;
}

button {
    background-color: #fff;
    border: min(0.2vw, 0.2vh) solid #000;
    border-radius: min(1vw, 1vh);
    cursor: pointer;
    color: #000;
    font-size: min(4vw, 4vh);
    font-weight: bold;
    padding: min(1vw, 1vh);
    margin-right: min(1vw, 1vh);
}

.container {
    // margin: 0 auto;
    margin: min(1vh, 1vw);
    font-family: 'BIZ UDPMincho', serif;
    height: 98vh;
}

.score {
    font-size: 2vmin;
    margin-top: 1vmin;
    margin-bottom: 1vmin;
    color: #e6e6e6;
}

.container:focus {
    box-shadow: none;
    outline: none;
}

.lost_banner {
    position: absolute;
    top: 140px;
    left: 140px;
    width: 240px;
    text-align: center;
    background-color: rgb(173, 173, 173);
    font-size: 50px;
    opacity: 0.7;
    z-index: 1;
}

.game table {
    border-collapse: collapse;
    margin-bottom: 1vmin;
    color: white;
    font-size: 6vmin;
    border-radius: 1vmin;
}

.game tr td {
    border: 0.2vmin solid rgb(196, 196, 196);
    padding: 0;
    margin: 0;
}

$buttons_height: 11.4vw;
$score_height: 4vmin;
$celldim: calc(min((100vmin - 2vh)/4 - 2vmin, (100vh - $buttons_height - $score_height)/4 - 2vmin));

.game tr td div {
    width: $celldim;
    height: $celldim;
    line-height: $celldim;
    border-radius: 3vmin;
    text-align: center;
    margin: 1vmin;
}

.hist-fill {
    background-color: black;
}


.hist-header, .hist-footer {
    writing-mode: vertical-lr;
    min-width: 1em;
}

.histogram tr td {
    padding: 0;
    width: 1em;
    height: 1em;
}

.value_1 {
    background-color: #14406b;
}

.value_2 {
    background-color: #5777cf;
}

.value_3 {
    background-color: #3c99c4;
}

.value_4 {
    background-color: #257a7a;
}

.value_5 {
    background-color: #0b5f5b;
}

.value_5 {
    background-color: #0b5f16;
}

.value_6 {
    background-color: #3f5f0b;
}

.value_7 {
    background-color: #bd5da0;
}


// 256
.value_8 {
    background-color: #ad0c95;
}

.value_9 {
    background-color: #8d418d;
}

.value_10 {
    background-color: #4e2aa1;
}

.value_11 {
    background-color: #320b5f;
}

.value_12 {
    background-color: #5f3d0b;
}

.value_13 {
    background-color: #5f230b;
}

.value_14 {
    background-color: #5f0b0b;
}

.value_15 {
    background-color: #5f0b0b;
}
